{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Oops! An Error Occurred{% endtrans %}</h1>
    <h2>{% trans %}The server returned a "500 Internal Server Error".{% endtrans %}</h2>

    <p>
        {% trans %}Something is broken. Please let us know what you were doing when this error occurred.{% endtrans %}
        {% trans %}We will fix it as soon as possible. Sorry for any inconvenience caused.{% endtrans %}
    </p>

    <p>
        <a href="{{ path('pokeme_app_homepage') }}" title="{% trans %}Homepage{% endtrans %}">{% trans %}Return to the homepage.{% endtrans %}</a>
    </p>
{% endblock %}
