#Composer
composer.lock
composer.phar
phpunit.phar
#cache
app/cache/*
app/logs/*
app/config/parameters.yml
#phpdoc Ignore everything in this directory
docs/phpdoc/*
#phpdoc Except these files
!docs/phpdoc/readme.md
#vendor or binary loaded by composer
bin/*
vendor/*
#web ignored files
web/bundles/*
web/media/*
